/*Ajout du media queries pour l'adaptation sur mobile.*/
@media screen and (max-width:500px) {

    /*Disposition des éléments de la barre de navigation les uns en dessous des autres.*/
    .menu>ul {
        display: flex;
        flex-direction: column;
    }

    /*Inversement de la position des liens et des images, et placemement au début de l'axe principal.*/
    .menu>ul>li {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    /*Alignement des éléments de la barre de navigation au centre de l'axe secondaire.*/
    .menu>ul>li {
        display: flex;
        align-items: center;
    }

    /*Placement des éléments du footer.*/
    footer>div:first-child {
        display: flex;
        align-items: center;
    }

    footer>div:last-child>ul>#email {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    footer>div:last-child>ul>#phone {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

/*Ajout du media queries pour l'adaptation sur ordinateur*/
@media screen and (min-width:1024px) {

    /*Placement de la barre de navigation.*/
    header>nav>ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    header>nav>ul>li {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    /*Placement de la première section des compétences.*/
    main>#skills>section:first-child {
        display: flex;
        justify-content: center;
    }

    /*Alignement de la deuxième section en colonne.*/
    main>#skills>section:first-child>div:first-child {
        flex-direction: column;
    }

    /*Placement du titre secondaire au centre de la page*/
    main>#skills h2 {
        display: flex;
        justify-content: center;
    }

    /*Placement des blocs de la deuxième section des compétences au centre, à côtés et avec un espace entre eux*/
    main>#skills>section:last-child {
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }

    /*Placement du footer et de ses élements.*/
    footer {
        display: flex;
        align-content: flex-end;
        justify-content: space-between;
    }

    footer>div:first-child {
        display: flex;
        align-items: center;
    }

    footer #email {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    footer #phone {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    footer>div:last-child>ul {
        display: flex;
        flex-direction: column;
    }
}