/*Ajout du media queries pour l'adaptation sur mobile.*/
@media screen and (max-width: 500px) {

    /*Marge externe sur l'icone menu.*/
    .material-symbols-outlined {
        margin-top: 10px;
        margin-left: 10px;
    }

    /*Ajout d'un fond transparent sur l'icone du menu.*/
    .mobile-menu {
        background-color: transparent;
    }

    /*Définition de la taille de la barre de navigation et de sa marge interne en haut.*/
    nav.menu {
        width: 100%;
        height: 620px;
        padding-top: 100px;
    }

    /*Définition de la taille et de la marge externe en bas des liens vers les autres pages.*/
    nav>ul>li {
        font-size: 20px;
        margin-bottom: 20px;
    }

    /*Définition de la couleur de la barre de navigation et par défaut on cache la barre de navigation.*/
    .menu {
        background-color: #f3cdcd;
        display: none;
    }

    /*Mise en couleur du titre experiences de la barre de navigation afin que l'utilisateur sache dans quel onglet il se trouve actuellement.*/
    .menu>ul>li:nth-child(4) a {
        color: #000000;
        font-weight: bolder;

    }

    /*Modification de l'apparence des liens de la barre de navigation vers les autres pages*/
    .menu>ul>li a {
        text-decoration: none;
        color: #000000;
    }

    /*Ajout d'une marge externe en haut de chaque éléments de la barre de navigation.*/
    .menu>ul>li {
        margin-top: 40px;
    }

    /*Ajout de marges externes sur les liens et les images des éléments de la barre de navigation, afin qu'ils soient correctement positionner les uns par rapport aux autres.*/
    .menu>ul>li:nth-child(1) a {
        margin-left: 20px;
    }

    .menu>ul>li:nth-child(2) a {
        margin-left: 15px;
    }

    .menu>ul>li:nth-child(2) img {
        margin-left: -3px;
        margin-top: 5px;
    }

    .menu>ul>li:nth-child(3) img {
        margin-left: -5px;
    }

    .menu>ul>li:nth-child(3) a {
        margin-left: 10px;
    }

    .menu>ul>li:nth-child(4) a {
        margin-left: 13px;
    }

    .menu>ul>li:nth-child(4) img {
        margin-left: -3px;
        margin-bottom: 5px;
    }

    .menu>ul>li:nth-child(5) a {
        margin-left: 5px;
    }

    .menu>ul>li:nth-child(5) img {
        margin-left: -5px;
    }

    .menu>ul>li:nth-child(6) a {
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .menu>ul>li:nth-child(6) img {
        margin-bottom: 30px;
    }

    /*Mise en couleur du titre accueil de la barre de navigation afin que l'utilisateur sache dans quel onglet il se trouve actuellement.*/
    .menu>li:nth-child(1) a {
        color: #000000;
        font-weight: bolder;
    }

    /*Ajout de la décoration de fond.*/
    body {
        background-image: url("../img/fond décoration expériences mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
    }

    /*Ajout d'une marge interne à droite et à gauche, et d'une marge externe en bas, et ajout de la police Inter sur la section experiences.*/
    #experiences {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 25%;
        font-family: "Inter", sans-serif;
    }

    /*Ajout d'une marge externe en haut et en bas du titre de la section présentation, et mise en gras.*/
    #experiences>h1 {
        margin-top: 160px;
        margin-bottom: 15%;
        font-weight: bolder;
    }

    /*Définition de la graisse et de la taille de la police des 4 paragraphes de la section expériences.*/
    #experiences>div>p:nth-child(1) {
        font-weight: bold;
        font-size: 20px;
    }

    #experiences>div>p:nth-child(2) {
        font-weight: bold;
        font-size: 18px;
    }

    #experiences>div>p:nth-child(3) {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 20%;
    }

    #experiences>div>p:nth-child(4) {
        font-size: 16px;
    }

    /* Définition de la couleur de fond et de la marge interne du footer.*/
    footer {
        background-color: #f3cdcd;
        height: 150px;
        width: 100%;
        padding-left: 10px;
    }

    /*Définition de la taille des icones des élements du footer.*/
    footer img {
        width: 25px;
        height: 25px;
    }

    /*Modification de la couleur du lien de l'adresse mail.*/
    footer #email a {
        color: #000000;
    }

    /*Modification de la couleur du lien du numéro de téléphone.*/
    footer #phone a {
        color: #000000;
    }

    /*Ajout de marge externe sur les éléments email et phone.*/
    footer>div:last-child>ul>#email {
        margin-left: -35px;
    }

    footer>div:last-child>ul>#phone {
        margin-left: -35px;
    }

}

/*Définition de la taille du menu et de la taille des liens vers les autres pages sur les téléphones ayant une largeur d'écran compris entre 392px et 500px.*/
@media screen and (min-width: 392px) and (max-width: 500px) {

    /*Définition de la taille de la barre de navigation et de sa marge interne en haut.*/
    nav.menu {
        width: 100%;
        height: 800px;
        padding-top: 100px;
    }

    /*Définition de la taille et de la marge externe en bas des liens vers les autres pages.*/
    nav>ul>li {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

/*Ajout de la police inter avec google font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Ajout du media queries pour l'adaptation sur ordinateur*/
@media screen and (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
    }

    /*Définition de la taille et de la couleur de la barre de navigation.*/
    header>nav {
        width: 100%;
    }

    header>nav>ul {
        background-color: #f3cdcd;
        height: 80px;
    }

    /*On cache l'icone menu sur la version ordinateur.*/
    .mobile-menu {
        display: none;
    }


    /*Mise en couleur du titre mes diplômes de la barre de navigation afin que l'utilisateur sache dans quel onglet il se trouve actuellement.*/
    header>nav>ul>li:nth-child(4) a {
        color: #000000;
        font-weight: bolder;
    }

    /*Modification de la couleur des titres des éléments de la barre de navigation au survol*/
    header>nav>ul>li>a:hover {
        color: #000000;
        font-weight: bolder;
    }

    /*Espacement entre les titres des éléments de la barre de navigation et les pictos correspondants.*/
    header>nav>ul>li a {
        margin: 10px;
    }

    /*Modification de l'apparence des liens de la barre de navigation vers les autres pages*/
    header>nav>ul>li a {
        text-decoration: none;
        color: #000000;
    }

    /*Ajout de la décoration de fond*/
    main {
        background-image: url("../img/fond décoration expérience.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    /*Définition de la taille de la police de la section expériences.*/
    main>#experiences {
        font-size: 24px;
        font-family: "Inter", sans-serif;
    }

    /*Définition de la marge externe,de la taille et de la graisse du premier titre de la section expériences.*/
    main>#experiences>h1 {
        font-size: 30px;
        font-weight: bolder;
        margin-top: 80px;
        margin-bottom: 80px;
        text-align: center;

    }

    /*Définition de la marge externe du bloc de texte de la section expériences.*/
    main>#experiences>div {
        margin-bottom: 6%;
        margin-right: 30%;
        margin-left: 35%;
    }

    /*Définition de la marge externe du bas, de la taille et de la graisse des paragraphes de la section expériences.*/
    main>#experiences>div>p:nth-child(1) {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 40px;
    }

    main>#experiences>div>p:nth-child(2) {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 20px;
    }

    main>#experiences>div>p:nth-child(3) {
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    main>#experiences>div>p:nth-child(4) {
        font-size: 20px;
        font-weight: 500;
    }

    main>#experiences>div>p:last-child {
        font-size: 20px;
        font-weight: 500;
    }

    /* Définition de la couleur de fond et de la marge interne du footer.*/
    footer {
        background-color: #f3cdcd;
        padding: 20px;
    }

    /*Définition de la taille des icones des élements du footer.*/
    footer img {
        width: 31px;
        height: 31px;
    }

    /*Modification de la couleur du lien de l'adresse mail.*/
    footer #email a {
        color: #000000;
    }

    /*Modification de la couleur du lien du numéro de téléphone.*/
    footer #phone a {
        color: #000000;
    }
}

/*Ajout d'une nouvelle image de fond moins large à partir d'une taille d'écran inférieur à 1400px.*/
@media screen and (min-width: 1024px) and (max-width: 1400px) {
    main {
        background-image: url("../img/fond décoration expérience moyen.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
/*Adaptation sur un ordinateur de plus de 1600px de large.*/
@media screen and (min-width: 1600px){
    /*Ajout de la décoration de fond*/
    main {
        background-image: url("../img/fond décoration expérience grand format.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /*Définition de la hauteur de la section expériences.*/
    main>#experiences{
        height: 900px;
    }
    /*Définition de la hauteur et de la taille des liens du menu.*/
    .menu>ul{
        height: 110px;
        font-size: 24px;
    }
    /*Définition de la taille du premier titre de la section expériences.*/
    main>#experiences>h1{
        font-size: 50px;

    }
    /*Définition de l'emplacement de la section présentation.*/
    main>#experiences{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*Définition de la taille et de la marge externe en bas des paragraphes du bloc de la section expériences.*/
    main>#experiences>div>p:nth-child(1) {
        font-size: 34px;
        margin-bottom: 50px;
    }

    main>#experiences>div>p:nth-child(2) {
        font-size: 31px;
        margin-bottom: 25px;
    }

    main>#experiences>div>p:nth-child(3) {
        font-size: 31px;
        margin-bottom: 25px;
    }

    main>#experiences>div>p:nth-child(4) {
        font-size: 31px;
        font-weight: 500px;
    }

    main>#experiences>div>p:last-child {
        font-size: 31px;
        font-weight: 500px;
    }
    /*Définition de la hauteur du footer.*/
    footer {
        height: 130px;
    }
    /*Définition de la marge interne du deuxième bloc du footer.*/
    footer>div:last-child {
        padding-top: 30px;
    }
    /*Définition de la taille du bloc du footer.*/
    footer>div {
        font-size: 24px;
    }
}

