/*Ajout de la police inter avec google font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Ajout du media queries pour l'adaptation sur mobile.*/
@media screen and (max-width: 500px) {

    /*Marge externe sur l'icone menu.*/
    .material-symbols-outlined {
        margin-top: 10px;
        margin-left: 10px;
    }

    /*Ajout d'un fond transparent sur l'icone du menu.*/
    .mobile-menu {
        background-color: transparent;
    }

    /*Définition de la taille de la barre de navigation et de sa marge interne en haut.*/
    nav.menu {
        width: 100%;
        height: 620px;
        padding-top: 100px;
    }
    /*Définition de la taille et de la marge externe en bas des liens vers les autres pages.*/
    nav>ul>li {
        font-size: 20px;
        margin-bottom: 20px;
    }

    /*Définition de la couleur de la barre de navigation et par défaut on cache la barre de navigation.*/
    .menu {
        background-color: #f3cdcd;
        display: none;
    }

    /*Mise en couleur du titre compétences de la barre de navigation afin que l'utilisateur sache dans quel onglet il se trouve actuellement.*/
    .menu>ul>li:nth-child(2) a {
        color: #000000;
        font-weight: bolder;

    }

    /*Modification de l'apparence des liens de la barre de navigation vers les autres pages.*/
    .menu>ul>li a {
        text-decoration: none;
        color: #000000;
    }

    /*Ajout d'une marge externe en haut de chaque éléments de la barre de navigation.*/
    .menu>ul>li {
        margin-top: 40px;
    }

    /*Ajout de marges externes sur les liens et les images des éléments de la barre de navigation, afin qu'ils soient correctement positionner les uns par rapport aux autres.*/
    .menu>ul>li:nth-child(1) a {
        margin-left: 20px;
    }

    .menu>ul>li:nth-child(2) a {
        margin-left: 15px;
    }

    .menu>ul>li:nth-child(2) img {
        margin-left: -3px;
        margin-top: 5px;
    }

    .menu>ul>li:nth-child(3) img {
        margin-left: -5px;
    }

    .menu>ul>li:nth-child(3) a {
        margin-left: 10px;
    }

    .menu>ul>li:nth-child(4) a {
        margin-left: 13px;
    }

    .menu>ul>li:nth-child(4) img {
        margin-left: -3px;
        margin-bottom: 5px;
    }

    .menu>ul>li:nth-child(5) a {
        margin-left: 5px;
    }

    .menu>ul>li:nth-child(5) img {
        margin-left: -5px;
    }

    .menu>ul>li:nth-child(6) a {
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .menu>ul>li:nth-child(6) img {
        margin-bottom: 30px;
    }

    /*Ajout de la décoration de fond.*/
    body {
        background-image: url("../img/fond décoration compétence mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
    }

    /*Ajout d'une marge externe en haut, en bas et à gauche de la section compétences.*/
    #skills {
        margin-left: 15%;
        margin-top: 40%;
        margin-bottom: 20%;
    }

    /*Définition de la taille du titre de niveau 1.*/
    #skills>section>div h1 {
        font-size: 23px;
    }

    /*Définition de la taille du titre de niveau 2.*/
    #skills h2 {
        font-size: 21px;
    }

    /* Définition de la couleur de fond et de la marge interne du footer.*/
    footer {
        background-color: #f3cdcd;
        height: 150px;
        padding-left: 10px;
    }

    /*Définition de la taille des icones des élements du footer.*/
    footer img {
        width: 25px;
        height: 25px;
    }

    /*Modification de la couleur du lien de l'adresse mail.*/
    footer #email a {
        color: #000000;
    }

    /*Modification de la couleur du lien du numéro de téléphone.*/
    footer #phone a {
        color: #000000;
    }

    /*Ajout de marges externes sur les éléments email et phone.*/
    footer>div:last-child>ul>#email {
        margin-left: -35px;
    }

    footer>div:last-child>ul>#phone {
        margin-left: -35px;
    }

}
/*Définition de la taille du menu et de la taille des liens vers les autres pages sur les téléphones ayant une largeur d'écran compris entre 392px et 500px.*/
@media screen and (min-width: 392px) and (max-width: 500px){
     /*Définition de la taille de la barre de navigation et de sa marge interne en haut.*/
     nav.menu {
        width: 100%;
        height: 800px;
        padding-top: 100px;
    }
    /*Définition de la taille et de la marge externe en bas des liens vers les autres pages.*/
    nav>ul>li {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

/*Ajout du media queries pour l'adaptation sur ordinateur*/
@media screen and (min-width:1024px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
    }

    /*Définition de la taille et de la couleur de la barre de navigation.*/
    header>nav {
        width: 100%;
    }

    header>nav>ul {
        background-color: #f3cdcd;
        height: 80px;

    }

    /*On cache l'icone menu sur la version ordinateur.*/
    .mobile-menu {
        display: none;
    }

    /*Mise en couleur du titre compétences de la barre de navigation afin que l'utilisateur sache dans quel onglet il se trouve actuellement.*/
    header>nav>ul>li:nth-child(2) a {
        color: black;
        font-weight: bolder;
    }

    /*Modification de la couleur des titres des éléments de la barre de navigation au survol*/
    header>nav>ul>li>a:hover {
        color: black;
        font-weight: bolder;
    }

    /*Espacement entre les titres des éléments de la barre de navigation et les pictos correspondants.*/
    header>nav>ul>li:nth-child(1) a {
        margin: 10px;
    }

    header>nav>ul>li:nth-child(2) a {
        margin: 10PX;
    }

    header>nav>ul>li:nth-child(3) a {
        margin: 10px;
    }

    header>nav>ul>li:nth-child(4) a {
        margin: 10px;
    }

    header>nav>ul>li:nth-child(6) a {
        margin: 10px;
    }

    /*Modification de l'apparence des liens de la barre de navigation vers les autres pages*/
    header>nav>ul>li a {
        text-decoration: none;
        color: black;
    }

    /*Ajout de la décoration de fond*/
    main {
        background-image: url("../img/fond décoration compétences.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* Définition de la hauteur de la section compétences.*/
    main>#skills {
        height: 560px;
    }

    /*Définition de la taille de la liste des compétences.*/
    main>#skills ul {
        font-size: 24px;
    }

    /*Définition de la taille du Titre principal.*/
    main>#skills h1 {
        font-size: 25px;
        margin-top: 30px;
    }

    /*Ajout d'une marge externe en haut et en bas du titre secondaire.*/
    main>#skills h2 {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    /*Ajout d'une marge externe en haut et à gauche du premier bloc de la section en cours d'apprentissage(développement).*/
    main>#skills>section:last-child>div:first-child {
        margin-top: 30px;
        margin-left: 200px;
    }

    /*Ajout d'une marge externe en haut et à droite du deuxième bloc de la section en cours d'apprentissage(design).*/
    main>#skills>section:last-child>div:last-child {
        margin-top: 60px;
        margin-right: 200px;
    }

    /* Définition de la couleur de fond et de la marge interne du footer.*/
    footer {
        background-color: #f3cdcd;
        padding: 20px;
    }

    /*Définition de la taille des icones des élements du footer.*/
    footer img {
        width: 31px;
        height: 31px;
    }

    /*Modification de la couleur du lien de l'adresse mail.*/
    footer #email a {
        color: black;
    }

    /*Modification de la couleur du lien du numéro de téléphone.*/
    footer #phone a {
        color: black;
    }
}

/*Ajout d'une nouvelle image de fond moins large à partir d'une taille d'écran inférieur à 1256px.*/
@media screen and (min-width: 1024px) and (max-width: 1256px) {
    main {
        background-image: url("../img/fond décoration compétences moyen.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
@media screen and (min-width: 1900px){
    main {
        background-image: url("../img/fond décoration compétences grand format.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    main{
        height: 80%;
    }
}